In [1]:
import pandas as pd

s_df = pd.read_csv('./static/stores.csv')
s_df = s_df.set_index('s_id', drop=False)
p_df = pd.read_csv('./static/products.csv')
iv_df = pd.read_csv('./static/inventory.csv')

In [2]:
p_df.to_dict('records')

[{'p_id': 'p1', 'product': '커피', 'reco_price': 1500},
 {'p_id': 'p2', 'product': '쿠키', 'reco_price': 2000},
 {'p_id': 'p3', 'product': '아이스크림', 'reco_price': 1500},
 {'p_id': 'p4', 'product': '에이드', 'reco_price': 3000},
 {'p_id': 'p5', 'product': '와플', 'reco_price': 4000},
 {'p_id': 'p6', 'product': '과일주스', 'reco_price': 4000},
 {'p_id': 'p7', 'product': '초콜릿', 'reco_price': 1500}]

In [3]:
s_df.to_dict('records')

[{'s_id': 's1', 'name': '용산점', 'locate': '용산', 'products_num': 6},
 {'s_id': 's2', 'name': '강남점', 'locate': '강남', 'products_num': 3},
 {'s_id': 's3', 'name': '강북점', 'locate': '강북', 'products_num': 4}]

In [4]:
s_id='s1'
inven = iv_df[iv_df['s_id']==s_id]
ip_df=inven.merge(p_df, on='p_id')
ip_df

  p_id  count  price s_id product  reco_price
0   p1     50   2000   s1      커피        1500
1   p2     30   1000   s1      쿠키        2000
2   p3     30   1500   s1   아이스크림        1500
3   p4     20   3000   s1     에이드        3000
4   p5     10   4000   s1      와플        4000
5   p6     10   3000   s1    과일주스        4000

In [5]:
for s_id in s_df.index:
    inven = iv_df[iv_df['s_id']==s_id]
    ip_df=inven.merge(p_df, on='p_id')
    print(ip_df)

  p_id  count  price s_id product  reco_price
0   p1     50   2000   s1      커피        1500
1   p2     30   1000   s1      쿠키        2000
2   p3     30   1500   s1   아이스크림        1500
3   p4     20   3000   s1     에이드        3000
4   p5     10   4000   s1      와플        4000
5   p6     10   3000   s1    과일주스        4000
  p_id  count  price s_id product  reco_price
0   p1     20   2000   s2      커피        1500
1   p3     60   1500   s2   아이스크림        1500
2   p4     20   3000   s2     에이드        3000
  p_id  count  price s_id product  reco_price
0   p3     30   1500   s3   아이스크림        1500
1   p4     10   3000   s3     에이드        3000
2   p5     20   4000   s3      와플        4000
3   p7     30   1000   s3     초콜릿        1500

In [6]:
for s_id in s_df.index:
    inven = iv_df[iv_df['s_id']==s_id]
    ip_df=inven.merge(p_df, on='p_id')
    s_list=[]
    for p_id in ip_df.index:
        s_list.append(ip_df.loc[p_id,'product'])
    print(s_list)

['커피', '쿠키', '아이스크림', '에이드', '와플', '과일주스']
['커피', '아이스크림', '에이드']
['아이스크림', '에이드', '와플', '초콜릿']

In [7]:
for s_id in s_df.index:
    inven = iv_df[iv_df['s_id'] == s_id]
    ip_df = inven.merge(p_df, on='p_id')
    s_list = []
    for p_id in ip_df.index:
        s_list.append(ip_df.loc[p_id, 'product'])
    sr={'s_id':s_id, 'name':s_df.loc[s_id,'name'],'locate':s_df.loc[s_id,'locate'],'product':s_list}
    print(sr)

{'s_id': 's1', 'name': '용산점', 'locate': '용산', 'product': ['커피', '쿠키', '아이스크림', '에이드', '와플', '과일주스']}
{'s_id': 's2', 'name': '강남점', 'locate': '강남', 'product': ['커피', '아이스크림', '에이드']}
{'s_id': 's3', 'name': '강북점', 'locate': '강북', 'product': ['아이스크림', '에이드', '와플', '초콜릿']}

In [8]:
# s_id='s1'
if s_id in s_df.index:
    inven = iv_df[iv_df['s_id'] == s_id]
    ip_df = inven.merge(p_df, on='p_id')
    s_list = []
    for p_id in ip_df.index:
        s_list.append(ip_df.loc[p_id, 'product'])
    sr={'s_id':s_id, 'name':s_df.loc[s_id,'name'],'locate':s_df.loc[s_id,'locate'],'product':s_list}
    print(sr)

{'s_id': 's3', 'name': '강북점', 'locate': '강북', 'product': ['아이스크림', '에이드', '와플', '초콜릿']}

In [9]:
sk=[]
for s_id in s_df.index:    
    inven = iv_df[iv_df['s_id'] == s_id]
    ip_df = inven.merge(p_df, on='p_id')
    s_list = []   
    for p_id in ip_df.index:
        s_list.append(ip_df.loc[p_id, 'product']) 
    sk.append({'s_id':s_id, 'name':s_df.loc[s_id,'name'],'locate':s_df.loc[s_id,'locate'],'product':s_list})
   
sk

[{'s_id': 's1',
  'name': '용산점',
  'locate': '용산',
  'product': ['커피', '쿠키', '아이스크림', '에이드', '와플', '과일주스']},
 {'s_id': 's2',
  'name': '강남점',
  'locate': '강남',
  'product': ['커피', '아이스크림', '에이드']},
 {'s_id': 's3',
  'name': '강북점',
  'locate': '강북',
  'product': ['아이스크림', '에이드', '와플', '초콜릿']}]

In [10]:
class AiStore:

    def __init__(self, name, s_id, locate, products_num, inventory):
        self.name = name
        self.s_id = s_id
        self.locate = locate
        self.products_num = products_num
        self.inventory = inventory


    def get_inventory(self):
        return self.inventory

    def get_menu(self):
        # {'p_name': p_name, 'price': int(price), 'count': int(count), 'p_id':p_id} 형태로 인벤토리의 상품들을 메뉴리스트에 추가

        menu = []

        #inven = iv_df[iv_df['s_id'] == s_id]
        ip_df=self.get_inventory()
        #ip_df = inven.merge(p_df, on='p_id')
        ip_df = ip_df.set_index('p_id')
        for p_id in ip_df.index:
            menu.append({'p_id': p_id, 'p_name': ip_df.loc[p_id, 'product'], 'count': ip_df.loc[p_id, 'count'],
                         'price': ip_df.loc[p_id, 'price']})

        print(menu)
        return menu
    def get_product(self, p_id):
        # p_id 해당하는 상품 반환 인벤토리에서 쿼리 후 .iloc[0] 을 통해 상품 가져올것
        # if p_id in iv_df:
        #     p_name=p_df.iloc[0]
        #     price=iv_df.iloc[2]
        #     count=iv_df.iloce[1]
        # return {'p_name': p_name, 'price': int(price), 'count': int(count), 'p_id':p_id}
        piv = iv_df[iv_df['p_id'] == p_id]
        piv = piv.merge(p_df, on='p_id')
        for i in range(len(piv)):
            pl={'p_name': piv.iloc[i]['product'], 'price': piv.iloc[i]['price'], 'count': piv.iloc[i]['count'], 'p_id':p_id}
        return pl
def search_store(s_id):
    print(s_id)
    if s_id in s_df.index:
        store = s_df.loc[s_id]
        # 인벤토리에서 s_id에 해당하는 상품 쿼리 후 p_df 와 p_id를 기준으로 머지 (인벤토리가 왼쪽이 되야함)
        inven = iv_df[iv_df['s_id'] == s_id]
        inventory = inven.merge(p_df, on='p_id')

        return AiStore(store['name'],
                       store['s_id'],
                       store['locate'],
                       store['products_num'],
                       inventory)
    else:
        print('스토어를 찾지 못했습니다.')
        return None

s_id='s1'
ai_store=search_store(s_id)
ai_store.get_menu()

s1
[{'p_id': 'p1', 'p_name': '커피', 'count': 50, 'price': 2000}, {'p_id': 'p2', 'p_name': '쿠키', 'count': 30, 'price': 1000}, {'p_id': 'p3', 'p_name': '아이스크림', 'count': 30, 'price': 1500}, {'p_id': 'p4', 'p_name': '에이드', 'count': 20, 'price': 3000}, {'p_id': 'p5', 'p_name': '와플', 'count': 10, 'price': 4000}, {'p_id': 'p6', 'p_name': '과일주스', 'count': 10, 'price': 3000}]

[{'p_id': 'p1', 'p_name': '커피', 'count': 50, 'price': 2000},
 {'p_id': 'p2', 'p_name': '쿠키', 'count': 30, 'price': 1000},
 {'p_id': 'p3', 'p_name': '아이스크림', 'count': 30, 'price': 1500},
 {'p_id': 'p4', 'p_name': '에이드', 'count': 20, 'price': 3000},
 {'p_id': 'p5', 'p_name': '와플', 'count': 10, 'price': 4000},
 {'p_id': 'p6', 'p_name': '과일주스', 'count': 10, 'price': 3000}]

In [11]:
s_id='s1'
ai_store=search_store(s_id)
ai_store.get_inventory()

s1

  p_id  count  price s_id product  reco_price
0   p1     50   2000   s1      커피        1500
1   p2     30   1000   s1      쿠키        2000
2   p3     30   1500   s1   아이스크림        1500
3   p4     20   3000   s1     에이드        3000
4   p5     10   4000   s1      와플        4000
5   p6     10   3000   s1    과일주스        4000

In [18]:
p_id='p5'
p_list=ai_store.get_product(p_id)
p_list

{'p_name': '와플', 'price': 4000, 'count': 20, 'p_id': 'p5'}

In [19]:
p_list['p_name']

'와플'

In [13]:
piv=iv_df[iv_df['p_id']==p_id]
piv=piv.merge(p_df, on='p_id')
piv

  p_id  count  price s_id product  reco_price
0   p5     10   4000   s1      와플        4000
1   p5     20   4000   s3      와플        4000

In [14]:
p_name=piv.iloc[0]
p_name

p_id            p5
count           10
price         4000
s_id            s1
product         와플
reco_price    4000
Name: 0, dtype: object

In [15]:
if p_id in iv_df:
    p_name=p_df.iloc[0]
p_name

p_id            p5
count           10
price         4000
s_id            s1
product         와플
reco_price    4000
Name: 0, dtype: object

In [16]:
piv=iv_df[iv_df['p_id']==p_id]
piv=piv.merge(p_df, on='p_id')
for i in range(len(piv)):
    print(piv.iloc[i])

p_id            p5
count           10
price         4000
s_id            s1
product         와플
reco_price    4000
Name: 0, dtype: object
p_id            p5
count           20
price         4000
s_id            s3
product         와플
reco_price    4000
Name: 1, dtype: object

In [22]:
s_id='s1'
ai_store=search_store(s_id)
slist=ai_store.get_inventory()

s1

In [23]:
siv=slist[slist['p_id']==p_id]
siv

  p_id  count  price s_id product  reco_price
4   p5     10   4000   s1      와플        4000

In [24]:
siv['product']

4    와플
Name: product, dtype: object

In [26]:
p_df

  p_id product  reco_price
0   p1      커피        1500
1   p2      쿠키        2000
2   p3   아이스크림        1500
3   p4     에이드        3000
4   p5      와플        4000
5   p6    과일주스        4000
6   p7     초콜릿        1500

In [28]:
p_df=p_df.set_index('p_id')
p_df.loc[p_id,'product']

'와플'